<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--配置对登录的页面放行-->
    <http pattern="/login.html" security="none"></http>

    <!-- 页面拦截规则 -->
    <!--SpEL表达式：execution(c...(..))-->
    <!--use-expressions：是否使用SpELl的表达式-->
    <http use-expressions="false">
        <!--对资源的拦截-->
         <intercept-url pattern="/**" access="ROLE_USER"/>
        <!--先登录：springsecurity提供的登录的表单-->
        <!--login-page：指定登录页面-->
         <form-login login-page="/login.html"
         authentication-failure-forward-url="/error.html"/>
        <!--关闭CSRF-->
        <csrf disabled="true"/>
    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
             <!--配置可以登录的用户-->
                 <user name="admin" password="123456" authorities="ROLE_USER"/>
             </user-service>
         </authentication-provider>
    </authentication-manager>
</beans:beans>
